* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #312761;
}

#contenedor {
  text-align: center;
}

.card-container {
  margin: 50px;
  background: #231e39;
  border-radius: 10px;
}

#card {
  list-style: none;
  margin: 10px;
  background: #231e39;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0, 75);
  color: aliceblue;
  text-align: center;
  width: auto;
  padding: 10px;
}

#card:hover {
  background: #3f3761;
}

#imagen {
  border-radius: 50%;
  border: 1px solid #03bfcb;
  padding: 7px;
}

.name-container {
  margin: 10px 0;
  display: grid;
  gap: 10px;
  
}


#boton {
 position: absolute;
 margin-left: 280px;
 margin-top: 25px;
 transition: 0.5s;
 border-radius: 50%;
 width: 0;
 border: none;
 border-style: none;
 background-color: none;
}

#boton1 {
  position: absolute;
  margin-left: 610px;
  margin-top: 25px;
}


.query {
  display: none;
}

#tex {
  width: 80px;
  border: none;
  margin-left: 0px;
  
}
#adds {
  border: none;
  border-style: none;
}

ul{
  list-style: none;
  width: 5px;
  border: 0ch;
  margin-left: 0px;
  
}

#p {
  background-color:white;
}

#principal {
  min-height: 100px;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

#buscar {
  max-width: 500px;
  margin: auto;
}

@media (min-width: 300px) {
 
  #principal {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 500px) {
  
  #principal {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(1, 1fr);
  }
}


@media (min-width: 600px) {
  
  #principal {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 800px) {
  
  #principal {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  
  #principal {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
  }
}